/*.choose-us-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    
    gap: 30px;
    justify-content: center;
    background-color: red;
    grid-template-rows: auto auto;
    padding: 50px 50px;
}
.choose-us-container .grid-element1{
   grid-column: span 2;
   color: white;
   
}
.grid-element2{
    grid-column: span 1;
    grid-row: span 2;
}
.grid-element3{
   grid-column: span 1;
}
.grid-element4{
    grid-row: span 1;
}



    /*Mega Section CSSS*/
    /*
    .home-mega-section{
        width: 100%;
        background-color:rgb(10, 10, 39);
        height: 210vh;
        margin-top:30px;
        position: relative;
        overflow: hidden;
        
        z-index: 3;
      }
      
      .home-mega-section::before{
        content: '';
        z-index: 10;
        background-color: var(--color-background);
        position: absolute;
        width: 250%;
        top: -20%;
        left: -40px;
        transform: rotate(-6deg);
        height: 43vh;
      }
      .home-mega-section::after{
        content: '';
        z-index: 10;
        background-color: var(--color-background);
        position: absolute;
        width: 250%;
        height: 43vh;
        bottom: -20%;
        right: -40px;
        transform: rotate(-6deg);
        z-index: 0;
      }
      .home-mega-section h1,
      .home-mega-section h2,
      .home-mega-section h3,
      .home-mega-section p{
        color: white;
      }
      .home-mega-section h1{
        text-align: center;
      }

      .technology-section{
        display: grid;
        width: 100%; 
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        margin-top: 100px;
        background-color: red;

      }
     
      .tech-grid-element .tech-grid-title{
          content: '';
          display: block;
          position: absolute;
          bottom: 20px;
          left: 10px;
      }
      .tech-grid-element{
        position: relative;
        border-radius: 25px;
      }
      .tech-grid-element:nth-child(1){
        background-color: blue;
        grid-column: span 3;
        grid-row: span 2;
      }
      .tech-grid-element:nth-child(2){
        background-color: green;
        grid-column: 1/2;
        grid-row: 3/4;
      }
      .tech-grid-element:nth-child(3){
        background-color:violet;
        grid-column: 2/3;
        grid-row: 3/4;
      }
      .tech-grid-element:nth-child(4){
        background-color: goldenrod;
        grid-column: 3/4;
        grid-row: 3/4;
      }
      .tech-grid-element:nth-child(5){
        grid-column: span 4;
        grid-row: span 3;
        background-color:aqua;
        background: url(/images/hero-image.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
     
      .moncash-section{
        display: grid;
        grid-template-columns: repeat(7,200px);
        margin: var(--vertical-spacing) 0;
        grid-template-rows: repeat(2,200px);
        gap: 10px;
      }
      .moncash-section-element:nth-child(1){
         grid-column:span 4;
         background-color: blue;
          grid-row: span 2;
          border-radius: 25px;
          position: relative;
      }
      .moncash-section-element:nth-child(2){
        grid-column:span 3;
        grid-row: span 2;
        background: url(/images/moncash.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        border-radius: 25px;
     }
     .moncash-section-element:nth-child(1) .moncash-section-text:nth-child(1){
        position: absolute;
        content:'';
        bottom: 40px;
        left: 10px;
     }
     .moncash-section-element:nth-child(1) .moncash-section-text:nth-child(2){
        position: absolute;
        content:'';
        bottom: 25px;
        left: 10px;
     }
     .moncash-section-element:nth-child(1) .moncash-section-text:nth-child(3){
        position: absolute;
        content:'';
        bottom: 10px;
        left: 10px;
     }

     .ourdevelopers-section img{
        width: 100%;
        height: 100%;
     }
     .ourdevelopers-section{
      display: flex;
      gap: 20px;
    
     }
      .ourdeveloper{
        height: 350px;
        z-index: 2;
      }
      .ourdeveloper h2,
      .ourdeveloper p,
      .ourdeveloper h3{
        color: rgb(10, 10, 39);
        font-weight: 400;
        line-height: 30px;
      }
      .ourdeveloper h2{
        font-weight: bold;
        margin-bottom: 50px;
        display:inline-block;
      }
      .ourdeveloper h3{
        margin-bottom: 20px;
        display:inline-block;
        margin-top: 20px;
      }
      .ourdeveloper-right{
        flex-basis: 60%;   
      }
      .ourdeveloper-left{
         flex-basis: 40%;
      }
      .skills{
        display: flex;
        width: 100%;
        height: 50px;
      }
      .ourdeveloper-right{
        position: relative;
      }
      .contact-info{
        width: 80%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
        padding: 10px 10px;
        border-radius: 10px;
        position: absolute;
        bottom: 20px;
        left: 40px;
        content:'';
      }
      .contact-info a{
       font-size: 25px;
       color:rgb(10, 10, 39);
       text-decoration: none;
      }

     */
